import React from 'react'

import { {{properCase nameComponent}} } from '@components/{{kebabCase namePage}}/'
import './{{kebabCase namePage}}.scss'

export default function {{properCase namePage}}() {
  return (
    <div className='{{kebabCase namePage}}'>  
        <{{properCase nameComponent}} text='Your new page' />
    </div>
  )
}