import React from 'react'
import PropTypes from 'prop-types'

{{#if scss}}import './{{kebabCase nameComponent}}.scss'{{/if}}

export default function {{properCase nameComponent}}(props) {
	return <p {{#if scss}}className="{{kebabCase nameComponent}}"{{/if}}>{props.text}</p>
}

{{properCase nameComponent}}.propTypes = {
	text: PropTypes.string,
}

{{properCase nameComponent}}.defaultProps = {
	text: 'Component',
}